@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght@1,6..12,75,900&display=swap');

/* define custom font */
@font-face{
	font-family: 'FOT-SkipStd-B';
	font-style: normal;
	font-weight: bold;
	src: url(../font/FOT-SkipStd-B.otf) format("opentype");
}

:root{
	--persona-dark-blue: #151D42;
	--persona-light-blue: #00FFFC;
	--persona-menu-blue: #90e1f2;
}

html{
	font: 'FOT-SkipStd-B';
	font-family: 'FOT-SkipStd-B';
	/*background-image: linear-gradient(to top, #0004AE 10%, #0047C0 60%, #22F9FD );
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;*/
	background-image: url(../img/makoto1.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-color: #0004AE;
	height: 100%;
}

#content-container{
	height: 100%;
	display: grid;
	grid-template-areas: 'menu main';
	grid-gap: 10px;
}

header{
	text-align: right;
	color: var(--persona-light-blue);
	background-color: var(--persona-dark-blue);
	transition: 0.3s;
	width: 70%;
	transform: translateX(-10%);
	border-radius: 0px 10px 10px 0px;
	padding-right: 15px;
	box-sizing: border-box;
}

header:hover{
	color:var(--persona-dark-blue);
	background-color: white;
}

a{
	text-decoration: none;
	color: var(--persona-light-blue);
}

#navbar{
	height: 100%;
	float: left;
	box-sizing: border-box;
	color: var(--persona-menu-blue);
	font-family: "Nunito Sans", sans-serif;
	font-style: italic;
	font-size: 30px;
	/*background-color: var(--persona-dark-blue);*/
	grid-area: menu;
}

#navbar ul{
	list-style-type: none;
}

#navbar li{
	width: 100%;
}

#navbar li:hover{
	
}

#blog, #contact-info, #about-content{
	color: var(--persona-light-blue);
	background-color: var(--persona-dark-blue);
	height: 100%;
	transition: 0.3s;
	border-radius: 15px;
	padding: 0 15px;
	grid-area: main;
}

h2{
	margin: 0;
}

small{
	margin: 0;
}

hr{
	color: var(--persona-light-blue);
}

#blog:hover{
	color:var(--persona-dark-blue);
	background-color: white;
}

footer{
	color: #B5B5B5;
	background-color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
}

#status{
	font-family: "Nunito Sans", sans-serif;
	font-style: italic;
	font-size: 5em;
	padding: 0;
	float: left;
}

#copyright{
	position:absolute;
	bottom: 0;
	right: 0;
}