@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght@1,6..12,75,900&display=swap');

/* define custom font */
@font-face{
	font-family: 'FOT-SkipStd-B';
	font-style: normal;
	font-weight: bold;
	src: url(../font/FOT-SkipStd-B.otf) format("opentype");
}

:root{
	--persona-dark-blue: #151D42;
	--persona-light-blue: #00FFFC;
	--persona-menu-blue: #90e1f2;
}

html{
	font: 'FOT-SkipStd-B';
	font-family: 'FOT-SkipStd-B';
	/*background-image: linear-gradient(to top, #0004AE 10%, #0047C0 60%, #22F9FD );
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;*/
	background-image: url(../img/makoto1.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-color: #0004AE;
	height: 100%;
}

#content-container{
	height: 100%;
	display: grid;
	grid-template-areas: 'menu main';
	grid-column-gap: 10px;
	width: 50%;
	float: left;
	margin: 0;
}

header{
	text-align: right;
	color: var(--persona-light-blue);
	background-color: var(--persona-dark-blue);
	transition: 0.3s;
	width: 70%;
	transform: translateX(-10%);
	border-radius: 0px 10px 10px 0px;
	padding-right: 15px;
	box-sizing: border-box;
}

header:hover{
	color:var(--persona-dark-blue);
	background-color: white;
}

a{
	text-decoration: none;
	color: var(--persona-light-blue);
}

#navbar{
	height: 100%;
	width: fit-content;
	float: left;
	box-sizing: border-box;
	color: var(--persona-menu-blue);
	font-family: "Nunito Sans", sans-serif;
	font-style: italic;
	font-size: 30px;
	/*background-color: var(--persona-dark-blue);*/
	grid-area: menu;
	margin: 0;
}

#navbar ul{
	list-style-type: none;
}

li a{
	display: inline-block;
}

#home{
	width: min-content;
}



#home-link-higher{
	visibility: hidden;
	position: absolute;
	left: 48px;
	color: red;
	background-color: white;
	clip-path: polygon(100% 7%, 0 63%, 93% 38%);
}

#home:hover #home-link-higher{
	visibility: visible;
	transition: 0.12s;
}

#home:hover #home-link-lower{
	color: black;
	transition: color 0.12s ease-in-out;
}

#about-link-higher{
	visibility: hidden;
	position: absolute;
	left: 48px;
	color: red;
	background-color: white;
	clip-path: polygon(100% 7%, 0 63%, 93% 38%);
}

#about:hover #about-link-higher{
	visibility: visible;
	transition: 0.12s;
}

#about:hover #about-link-lower{
	color: black;
	transition: color 0.12s ease-in-out;
}

#contact-link-higher{
	visibility: hidden;
	position: absolute;
	left: 48px;
	color: red;
	background-color: white;
	clip-path: polygon(100% 7%, 0 63%, 93% 38%);
}

#contact:hover #contact-link-higher{
	visibility: visible;
	transition: 0.12s;
}

#contact:hover #contact-link-lower{
	color: black;
	transition: color 0.12s ease-in-out;
}

#blog, #contact-info, #about-content{
	color: var(--persona-light-blue);
	background-color: var(--persona-dark-blue);
	height: 100%;
	transition: 0.3s;
	border-radius: 15px;
	padding: 0 15px;
	grid-area: main;
}

h2{
	margin: 0;
}

small{
	margin: 0;
}

hr{
	color: var(--persona-light-blue);
}

#blog:hover, #contact-info:hover, #about-content:hover{
	color:var(--persona-dark-blue);
	background-color: white;
}

#blog:hover hr{
	color: var(--persona-dark-blue);
}

footer{
	color: #B5B5B5;
	background-color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
}

#status{
	font-family: "Nunito Sans", sans-serif;
	font-style: italic;
	font-size: 5em;
	padding: 0;
	float: left;
}

#copyright{
	position:absolute;
	bottom: 0;
	right: 0;
}

.dot {
	height: 50px;
	width: 50px;
	background-color: black;
	border-radius: 50%;
	display: inline-block;
}

#menu-dot-1{
	height: 50px;
	width: 50px;
	translate: -150px -100px;
	background-color: white;
}

#menu-dot-2{
	height: 42px;
	width: 42px;
	translate: 4px 4px;
	background-color: var(--persona-dark-blue);
}

#menu-dot-2 img{
	translate: 2px 1px;
}