

/* define custom font */
@font-face{
	font-family: 'FOT-SkipStd-B';
	font-style: normal;
	font-weight: bold;
	src: url(../font/FOT-SkipStd-B.otf) format("opentype");
}

html{
	font: 'FOT-SkipStd-B';
	font-family: 'FOT-SkipStd-B';
}